/* Styles just to make the bars for X Y and Z look neat */
.bar {
  width: 500px;
  height: 24px;
  background-color: #d0d0d0;
  position: relative;
  display: inline-block;
}
.bar span {
  width: 1px;
  height: 20px;
  background-color: red;
  position: absolute;
  display: inline-block;
  left: 150px;
  top: 2px;
}

.container {
  margin: 10px, auto;
  max-width: 600px;
}

#chartContainer {
  height: 370px;
  width: 100%;
  margin-left: -1rem;
}
